# Real-time Workload for Scylla
Web Sales | Web Returns | Store Sales | Store Returns | Catalog Sales

## Installing NoSQLBench

Download:

In [1]:
!curl -L -O https://github.com/nosqlbench/nosqlbench/releases/latest/download/nb
!chmod +x nb

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   146  100   146    0     0    346      0 --:--:-- --:--:-- --:--:--   345
100   641  100   641    0     0    989      0 --:--:-- --:--:-- --:--:--   989
100  218M  100  218M    0     0  21.1M      0  0:00:10  0:00:10 --:--:-- 24.4M

## Creating Workload Yaml based on template

Importing stuff and starting Spark Context:

In [3]:
from cassandra.cluster import Cluster, ExecutionProfile, EXEC_PROFILE_DEFAULT
from cassandra.policies import DCAwareRoundRobinPolicy, TokenAwarePolicy, DowngradingConsistencyRetryPolicy, ConsistencyLevel, RoundRobinPolicy
from cassandra.query import tuple_factory
from pyspark.conf import SparkConf
from pyspark.sql import SparkSession, SQLContext
from pyspark import SparkContext
from pyspark.sql import functions as F
from pyspark.sql.types import StructType,StructField, StringType, IntegerType, FloatType, DateType, LongType

## Starting Spark
spark = SparkSession\
    .builder\
    .appName("TPCDS-Scylla")\
    .config("setMaster","172.19.0.2")\
    .config("spark.jars", "target/scala-2.12/spark3-scylla4-example-assembly-0.1.jar")\
    .config("spark.cassandra.connection.host", "172.19.0.2")\
    .config('spark.cassandra.output.consistency.level','LOCAL_QUORUM')\
    .config("spark.driver.memory", "28g")\
    .config("spark.executor.memory", "28g")\
    .getOrCreate()
sc = spark.sparkContext
## Start SQL Context, it will enable you to run SQL Queries
sqlContext = SQLContext(spark)

#### Creating Spark Tables based on ScyllaDB

In [11]:
call_center = spark.read.format("org.apache.spark.sql.cassandra").options(table="call_center", keyspace="tpcds").load()
call_center.registerTempTable("call_center")
catalog_page = spark.read.format("org.apache.spark.sql.cassandra").options(table="catalog_page", keyspace="tpcds").load()
catalog_page.registerTempTable("catalog_page")

customer = spark.read.format("org.apache.spark.sql.cassandra").options(table="customer", keyspace="tpcds").load()
customer.registerTempTable("customer")
customer_address = spark.read.format("org.apache.spark.sql.cassandra").options(table="customer_address", keyspace="tpcds").load()
customer_address.registerTempTable("customer_address")
customer_demographics = spark.read.format("org.apache.spark.sql.cassandra").options(table="customer_demographics", keyspace="tpcds").load()
customer_demographics.registerTempTable("customer_demographics")
date_dim = spark.read.format("org.apache.spark.sql.cassandra").options(table="date_dim", keyspace="tpcds").load()
date_dim.registerTempTable("date_dim")
household_demographics = spark.read.format("org.apache.spark.sql.cassandra").options(table="household_demographics", keyspace="tpcds").load()
household_demographics.registerTempTable("household_demographics")
income_band = spark.read.format("org.apache.spark.sql.cassandra").options(table="income_band", keyspace="tpcds").load()
income_band.registerTempTable("income_band")
inventory = spark.read.format("org.apache.spark.sql.cassandra").options(table="inventory", keyspace="tpcds").load()
inventory.registerTempTable("inventory")
item = spark.read.format("org.apache.spark.sql.cassandra").options(table="item", keyspace="tpcds").load()
item.registerTempTable("item")
promotion = spark.read.format("org.apache.spark.sql.cassandra").options(table="promotion", keyspace="tpcds").load()
promotion.registerTempTable("promotion")
reason = spark.read.format("org.apache.spark.sql.cassandra").options(table="reason", keyspace="tpcds").load()
reason.registerTempTable("reason")
ship_mode = spark.read.format("org.apache.spark.sql.cassandra").options(table="ship_mode", keyspace="tpcds").load()
ship_mode.registerTempTable("ship_mode")
store = spark.read.format("org.apache.spark.sql.cassandra").options(table="store", keyspace="tpcds").load()
store.registerTempTable("store")

time_dim = spark.read.format("org.apache.spark.sql.cassandra").options(table="time_dim", keyspace="tpcds").load()
time_dim.registerTempTable("time_dim")
warehouse = spark.read.format("org.apache.spark.sql.cassandra").options(table="warehouse", keyspace="tpcds").load()
warehouse.registerTempTable("warehouse")
web_page = spark.read.format("org.apache.spark.sql.cassandra").options(table="web_page", keyspace="tpcds").load()
web_page.registerTempTable("web_page")

web_site = spark.read.format("org.apache.spark.sql.cassandra").options(table="web_site", keyspace="tpcds").load()
web_site.registerTempTable("web_site")

#### Creating Workload variables based on dimension tables size already loaded into scyllaDB

#### Reading template file:

In [12]:
import yaml

with open(r'workload-nosqlbench.template.yaml') as file:
    # The FullLoader parameter handles the conversion from YAML
    # scalar values to Python the dictionary format
    workload = yaml.load(file, Loader=yaml.FullLoader)
    columns = workload["bindings"]

Since the size of the environment can change, we need to check what are the Max keys that can be used to generate data that it will return data from queries. For this, we will be using Spark to get the MAX of each key.

In [13]:
column_to_get_max=[]
variables_values=[]
import re
for column,val in columns.items():
    if column.endswith("_sk"):
        column_to_get_max.append([column,val])
        #print([column,val])
    else:
        pass

#### Capturing only the keys names from the template file:

In [14]:
# column_to_get_max 
full_variables_list = []
for column,value in column_to_get_max:
    if re.findall('<<(.+?)>>', value):
        match = re.findall('<<(.+?)>>', value)
        full_variables_list.append(match)
        #print(match)
    else: 
        pass
variable_list=[]
[variable_list.append(x) for x in full_variables_list if x not in variable_list]
print(variable_list)

[['max_item_sk'], ['max_web_page_sk'], ['max_c_address_sk'], ['max_cdemo_sk'], ['max_customer_sk'], ['max_reason_sk'], ['max_warehouse_sk'], ['max_promo_sk'], ['max_web_site_sk'], ['max_store_sk'], ['max_call_center_sk'], ['max_catalog_page_sk']]

Creating relationship between foreign keys, tables and variables

In [15]:
array = [["cp_catalog_page_sk","catalog_page",'max_catalog_page_sk'],["cc_call_center_sk","call_center","max_call_center_sk"],["s_store_sk","store","max_store_sk"],["p_promo_sk","promotion",'max_promo_sk'],["r_reason_sk","reason",'max_reason_sk'],["i_item_sk", "item","max_item_sk"],["c_customer_sk","customer","max_customer_sk"],["cd_demo_sk","customer_demographics","max_cdemo_sk"],["ca_address_sk","customer_address","max_c_address_sk"],["wp_web_page_sk","web_page","max_web_page_sk"],["web_site_sk","web_site","max_web_site_sk"],["w_warehouse_sk","warehouse","max_warehouse_sk"]]

 Generating and executing queries and capturing the values

In [16]:

#['start_date', 'end_date'], [''],  , [''], [''], [''], ['max_call_center_sk'], 
queries=[]
for column, tables,variable in array:
    query = 'select max({}) as max from {}'.format(column,tables)
    
    result = sqlContext.sql(query).collect()[0]
    print(query + " = " + str(result[0]) + "-> {}".format(variable))
    print('')
    print("result: "+ str(result[0]) + " | column: " + column + "| variable :" + variable)
    queries.append([result[0],column,variable])

select max(cp_catalog_page_sk) as max from catalog_page = 11718-> max_catalog_page_sk

result: 11718 | column: cp_catalog_page_sk| variable :max_catalog_page_sk
select max(cc_call_center_sk) as max from call_center = 6-> max_call_center_sk

result: 6 | column: cc_call_center_sk| variable :max_call_center_sk
select max(s_store_sk) as max from store = 12-> max_store_sk

result: 12 | column: s_store_sk| variable :max_store_sk
select max(p_promo_sk) as max from promotion = 300-> max_promo_sk

result: 300 | column: p_promo_sk| variable :max_promo_sk
select max(r_reason_sk) as max from reason = 35-> max_reason_sk

result: 35 | column: r_reason_sk| variable :max_reason_sk
select max(i_item_sk) as max from item = 18000-> max_item_sk

result: 18000 | column: i_item_sk| variable :max_item_sk

select max(c_customer_sk) as max from customer = 1920800-> max_customer_sk

result: 1920800 | column: c_customer_sk| variable :max_customer_sk

select max(cd_demo_sk) as max from customer_demographics = 1920800-> max_cdemo_sk

result: 1920800 | column: cd_demo_sk| variable :max_cdemo_sk
select max(ca_address_sk) as max from customer_address = 50000-> max_c_address_sk

result: 50000 | column: ca_address_sk| variable :max_c_address_sk
select max(wp_web_page_sk) as max from web_page = 60-> max_web_page_sk

result: 60 | column: wp_web_page_sk| variable :max_web_page_sk
select max(web_site_sk) as max from web_site = 30-> max_web_site_sk

result: 30 | column: web_site_sk| variable :max_web_site_sk
select max(w_warehouse_sk) as max from warehouse = 5-> max_warehouse_sk

result: 5 | column: w_warehouse_sk| variable :max_warehouse_sk

Now if that we have values of each variable, we will need to create the file replacing the variables for the values

In [50]:
! pip3 install pandasql

Requirement already satisfied: pandasql in /opt/conda/lib/python3.9/site-packages (0.7.3)
Requirement already satisfied: pandas in /opt/conda/lib/python3.9/site-packages (from pandasql) (1.3.4)
Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.9/site-packages (from pandasql) (1.4.25)
Requirement already satisfied: numpy in /opt/conda/lib/python3.9/site-packages (from pandasql) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.9/site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.9/site-packages (from pandas->pandasql) (2021.3)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.9/site-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.16.0)

In [19]:
! pip3 install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /opt/conda/lib/python3.9/site-packages (from pandasql) (1.20.3)
Requirement already satisfied: pandas in /opt/conda/lib/python3.9/site-packages (from pandasql) (1.3.4)
Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.9/site-packages (from pandasql) (1.4.25)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.9/site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.9/site-packages (from pandas->pandasql) (2021.3)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.9/site-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.16.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26781 sha256=a3c2309ca376386215bb535907c33100d256806746cedf0b976fe5893aed923d
  Stored in directory: /home/jovyan/.cache/pip/wheels/63/e8/ec/75b1df467ecf57b6ececb32cb16f4e86697cbfe55cb0c51f07
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [20]:
# queries.append([result[0],column,variable])
i=0
import yaml
import numpy as np 
import pandas as pd
new_file=[]
with open(r'workload-nosqlbench.template.yaml') as file:
    # The FullLoader parameter handles the conversion from YAML
    # scalar values to Python the dictionary format
    workload = yaml.load(file, Loader=yaml.FullLoader)
import pandasql as psql
  
columns = workload["bindings"]

df_values = pd.DataFrame(queries,columns=['result',"column","variable"])
df = pd.DataFrame(columns.items(),columns=["column","value"])
df['parsed'] = df.loc[df['value'].apply(lambda st: st[st.find("<")+2:st.find(">")]).isin(df_values.variable)== True,df['parsed']] = df['value'].apply(lambda st: st[st.find("<")+2:st.find(">")])
df = df[["column","value","parsed"]]
df['column'] = df['column'].astype('string')
df_values['column'] = df_values['column'].astype('string')

new_df = psql.sqldf("select distinct df.column,df.value,cast(df_values.result as text) as result from df_values  join df on cast(df_values.column as string)= cast(df.column as string) and parsed=variable") 

pat = re.compile(r"<<.*?>>")

new_df["value"] = new_df[["value","result"]].apply(lambda x: pat.sub(repl=x[1],string=x[0]),axis=1)

new_df

                      column               value   result
0         cs_catalog_page_sk    Uniform(0,11718)    11718
1          cs_call_center_sk        Uniform(0,6)        6
2                sr_store_sk       Uniform(0,12)       12
3                ss_store_sk       Uniform(0,12)       12
4                cs_promo_sk      Uniform(0,300)      300
5                ss_promo_sk      Uniform(0,300)      300
6                ws_promo_sk      Uniform(0,300)      300
7               sr_reason_sk       Uniform(0,35)       35
8               wr_reason_sk       Uniform(0,35)       35
9                 cs_item_sk    Uniform(0,18000)    18000
10                sr_item_sk    Uniform(0,18000)    18000
11                ss_item_sk    Uniform(0,18000)    18000
12                wr_item_sk    Uniform(0,18000)    18000
13                ws_item_sk    Uniform(0,18000)    18000
14            sr_customer_sk  Uniform(0,1920800)  1920800
15            ss_customer_sk  Uniform(0,1920800)  1920800
16   wr_refunded_customer_sk  Uniform(0,1920800)  1920800
17  wr_returning_customer_sk  Uniform(0,1920800)  1920800
18       ws_bill_customer_sk  Uniform(0,1920800)  1920800
19       ws_ship_customer_sk  Uniform(0,1920800)  1920800
20          cs_bill_cdemo_sk  Uniform(0,1920800)  1920800
21       cs_bill_customer_sk  Uniform(0,1920800)  1920800
22          cs_ship_cdemo_sk  Uniform(0,1920800)  1920800
23       cs_ship_customer_sk  Uniform(0,1920800)  1920800
24               sr_cdemo_sk  Uniform(0,1920800)  1920800
25               ss_cdemo_sk  Uniform(0,1920800)  1920800
26      wr_refunded_cdemo_sk  Uniform(0,1920800)  1920800
27     wr_returning_cdemo_sk  Uniform(0,1920800)  1920800
28          ws_bill_cdemo_sk  Uniform(0,1920800)  1920800
29          ws_ship_cdemo_sk  Uniform(0,1920800)  1920800
30           cs_bill_addr_sk    Uniform(0,50000)    50000
31           cs_ship_addr_sk    Uniform(0,50000)    50000
32                sr_addr_sk    Uniform(0,50000)    50000
33                ss_addr_sk    Uniform(0,50000)    50000
34       wr_refunded_addr_sk    Uniform(0,50000)    50000
35      wr_returning_addr_sk    Uniform(0,50000)    50000
36           ws_bill_addr_sk    Uniform(0,50000)    50000
37           ws_ship_addr_sk    Uniform(0,50000)    50000
38            wr_web_page_sk       Uniform(0,60)       60
39            ws_web_page_sk       Uniform(0,60)       60
40            ws_web_site_sk       Uniform(0,30)       30
41           cs_warehouse_sk        Uniform(0,5)        5
42           ws_warehouse_sk        Uniform(0,5)        5

#### Replace values from the template into the new workload yaml

In [21]:
import ruamel.yaml
import sys
yaml = ruamel.yaml.YAML()
import re


# #new_df.info()
# #print(type(new_df))
file = 'workload-nosqlbench.template.yaml'
    # The FullLoader parameter handles the conversion from YAML
    # scalar values to Python the dictionary format
    #workload = yaml.load(file)
config, ind, bsi = ruamel.yaml.util.load_yaml_guess_indent(open(file))

#columns_pop = config['bindings']
# instances[0]['host'] = '1.2.3.4'
# instances[0]['username'] = 'Username'
# instances[0]['password'] = 'Password'

yaml = ruamel.yaml.YAML()
yaml.indent(mapping=ind, sequence=ind, offset=bsi) 
with open('output.yaml', 'w') as fp:
    yaml.dump(config, fp)
    

for key,value in config['bindings'].items():
    for column,new_value,result in new_df.values:
        #print(column,new_value)
        if key==column:

            config['bindings'][key] = new_value

In [22]:
with open('workload-nosqlbench-schema-write.yaml', 'w') as file:
    yaml.dump(config, file)

## Using  NoSQLBench against ScyllaDB

cycles - standard, however the cql activity type will default this to however many statements are included in the current activity, after tag filtering, etc.

pooling default: none - Applies the connection pooling options to the policy. Examples:

    pooling=4:10 keep between 4 and 10 connections to LOCAL hosts
    pooling=4:10,2:5 keep 4-10 connections to LOCAL hosts and 2-5 to REMOTE
    pooling=4:10:2000 keep between 4-10 connections to LOCAL hosts with up to 2000 requests per connection
    pooling=5:10:2000,2:4:1000 keep between 5-10 connections to LOCAL hosts with up to 2000 requests per connection, and 2-4 connection to REMOTE hosts with up to 1000 requests per connection
    
    
Additionally, you may provide the following options on pooling. Any of these that are provided must appear in this order: ,heartbeat_interval_s:n,idle_timeout_s:n,pool_timeout_ms:n, so a full example with all options set would appear as:

       pooling=5:10:2000,2:4:1000,heartbeat_interval_s:30,idle_timeout_s:120,pool_timeout_ms:5

lbp - configures the load balancing policies for the Java driver. With this parameter, you can configure nested load balancing policies in short-hand form.

The policies available are documented in detail under the help topic cql-loadbalancing. See that guide if you need more than the examples below.

Examples:
    

        lbp=LAP(retry_period=3,scale=10) - Latency aware policy with retry period of 3 seconds. (Seconds is the default time unit, unless _ms parameter is used) and scale 10.
        lbp=LAP(rp=3,s=10) - Same as above, using the equivalent but terser form.
        lbp=LAP(rp_ms=3000,s_ms=10000) - Same as above, with milliseconds instead of seconds.
        loadbalancing=LAP(s=10),TAP() - Latency aware policy, followed by token aware policy.

#### Start Schema

In [34]:
!./nb run driver=cqld3 \
    host=172.19.0.2\
    workload=workload-nosqlbench-schema-write.yaml\
    tags=phase:schema \
    cycles=11 \
    loadbalancing='TAP()'

#### Start Write Workload

In [29]:
!./nb run driver=cqld3 \
        host=172.19.0.2\
        workload=workload-nosqlbench-schema-write.yaml\
        threads=auto \
        cycles=3000000 \
        async=128  \
        tags=phase:rampup \
        --progress console:10s \
        loadbalancing='TAP()' pooling=8:16:10
                        #start_connections:number_max_connections:ops per connection ## 2*shards:4*shards:5000

workload-nosqlbench-schema-write.yaml: 7.11%/Running (details: min=0 cycle=213216 max=3000000)
workload-nosqlbench-schema-write.yaml: 18.32%/Running (details: min=0 cycle=549664 max=3000000)
workload-nosqlbench-schema-write.yaml: 28.60%/Running (details: min=0 cycle=858016 max=3000000)
workload-nosqlbench-schema-write.yaml: 38.36%/Running (details: min=0 cycle=1150848 max=3000000)
workload-nosqlbench-schema-write.yaml: 47.32%/Running (details: min=0 cycle=1419488 max=3000000)
workload-nosqlbench-schema-write.yaml: 55.93%/Running (details: min=0 cycle=1677952 max=3000000)
workload-nosqlbench-schema-write.yaml: 64.30%/Running (details: min=0 cycle=1928992 max=3000000)
workload-nosqlbench-schema-write.yaml: 70.75%/Running (details: min=0 cycle=2122368 max=3000000)
workload-nosqlbench-schema-write.yaml: 77.87%/Running (details: min=0 cycle=2336096 max=3000000)
workload-nosqlbench-schema-write.yaml: 85.06%/Running (details: min=0 cycle=2551744 max=3000000)
^C
  103208 WARN  [Thread-1] SCENARIO     Scenario was interrupted by process exit, shutting down

#### Start Read Workload

In [35]:
!./nb run driver=cqld3 \
        host=172.19.0.2\
        workload=read-workload.yml\
        threads=auto \
        cycles=3000000 \
        async=258  \
        tags=phase:main \
        --progress console:10s \
        loadbalancing='TAP()' pooling=8:16:1000,8:16:1000

read-workload.yml: 20.69%/Running (details: min=0 cycle=620775 max=3000000)
read-workload.yml: 53.05%/Running (details: min=0 cycle=1591390 max=3000000)
read-workload.yml: 84.74%/Running (details: min=0 cycle=2542225 max=3000000)

#### Start Mix Workload

In [36]:
!./nb run driver=cqld3 \
        host=172.19.0.2\
        workload=workload-nosqlbench-schema-write.yaml\
        threads=auto \
        cycles=3000000 \
        async=258  \
        tags=phase:main \
        --progress console:10s \
        loadbalancing='TAP()' pooling=8:16:10
                        #start_connections:number_max_connections:ops per connection ## 2*shards:4*shards:5000

workload-nosqlbench-schema-write.yaml: 9.36%/Running (details: min=0 cycle=280690 max=3000000)
workload-nosqlbench-schema-write.yaml: 24.05%/Running (details: min=0 cycle=721440 max=3000000)
workload-nosqlbench-schema-write.yaml: 38.77%/Running (details: min=0 cycle=1163050 max=3000000)
workload-nosqlbench-schema-write.yaml: 52.55%/Running (details: min=0 cycle=1576450 max=3000000)
workload-nosqlbench-schema-write.yaml: 66.23%/Running (details: min=0 cycle=1986850 max=3000000)
workload-nosqlbench-schema-write.yaml: 79.24%/Running (details: min=0 cycle=2377200 max=3000000)
workload-nosqlbench-schema-write.yaml: 91.95%/Running (details: min=0 cycle=2758400 max=3000000)
11/30/21, 3:47:02 PM ===========================================================

-- Counters --------------------------------------------------------------------
workload-nosqlbench-schema-write.yaml.optracker_blocked
             count = 2999868
workload-nosqlbench-schema-write.yaml.pending_ops
             count = 0

-- Histograms ------------------------------------------------------------------
workload-nosqlbench-schema-write.yaml.resultset-size
             count = 3000000
workload-nosqlbench-schema-write.yaml.skipped-tokens
             count = 0
workload-nosqlbench-schema-write.yaml.tries
             count = 3000000

-- Meters ----------------------------------------------------------------------
workload-nosqlbench-schema-write.yaml.rows
             count = 220
         mean rate = 2.96 events/second
     1-minute rate = 2.25 events/second
     5-minute rate = 0.60 events/second
    15-minute rate = 0.21 events/second

-- Timers ----------------------------------------------------------------------
workload-nosqlbench-schema-write.yaml.bind
             count = 3000000
         mean rate = 40424.07 calls/second
     1-minute rate = 38484.62 calls/second
     5-minute rate = 35794.93 calls/second
    15-minute rate = 34978.26 calls/second
workload-nosqlbench-schema-write.yaml.cycles.servicetime
             count = 3000000
         mean rate = 40424.81 calls/second
     1-minute rate = 38486.60 calls/second
     5-minute rate = 35800.31 calls/second
    15-minute rate = 34984.74 calls/second
workload-nosqlbench-schema-write.yaml.execute
             count = 3000000
         mean rate = 40422.69 calls/second
     1-minute rate = 38485.16 calls/second
     5-minute rate = 35796.53 calls/second
    15-minute rate = 34980.12 calls/second
workload-nosqlbench-schema-write.yaml.pages
             count = 0
         mean rate = 0.00 calls/second
     1-minute rate = 0.00 calls/second
     5-minute rate = 0.00 calls/second
    15-minute rate = 0.00 calls/second
workload-nosqlbench-schema-write.yaml.read_input
             count = 300120
         mean rate = 4043.69 calls/second
     1-minute rate = 3852.63 calls/second
     5-minute rate = 3589.41 calls/second
    15-minute rate = 3509.29 calls/second
workload-nosqlbench-schema-write.yaml.result
             count = 3000000
         mean rate = 40420.99 calls/second
     1-minute rate = 38477.92 calls/second
     5-minute rate = 35779.44 calls/second
    15-minute rate = 34960.39 calls/second
workload-nosqlbench-schema-write.yaml.result-success
             count = 3000000
         mean rate = 40420.44 calls/second
     1-minute rate = 38478.45 calls/second
     5-minute rate = 35780.42 calls/second
    15-minute rate = 34961.51 calls/second
workload-nosqlbench-schema-write.yaml.retry-delay
             count = 0
         mean rate = 0.00 calls/second
     1-minute rate = 0.00 calls/second
     5-minute rate = 0.00 calls/second
    15-minute rate = 0.00 calls/second
workload-nosqlbench-schema-write.yaml.strides.servicetime
             count = 300000
         mean rate = 4041.86 calls/second
     1-minute rate = 3844.05 calls/second
     5-minute rate = 3568.96 calls/second
    15-minute rate = 3485.66 calls/second